body{
margin:0;
overflow:hidden;
background:black;
}

#video{
position:absolute;
top:10px;
left:10px;
width:240px;
border:2px solid white;
z-index:10;
}

#fileInput{
position:absolute;
top:260px;
left:10px;
z-index:10;
}
